

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    font-family:'Courier New', Courier, monospace 
    
    
}

body {
    background-color: gray;
    overflow: hidden;
    
}

header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}

.container {
    padding: 20px;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

p {
    color: black;
    font-size: 1.3em;
    
}

button {
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.3em;

}

#view-high-scores:hover {
    cursor: pointer;
    color: blue
}


h1, h2 {
    color: black;
    text-align: center;
}

li {
    list-style: none;
}

.outer-container {
  padding: 10px;  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.top-bar p {
    float: right;

}

.inner-container {
    background: rgba(0, 0, 0, 0.5);
    background-color: gray;
    height: 100%;
    width: 50%
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz-intro, main {
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightblue;
}

.quiz-intro p {
    text-align: center;

}

.quiz-intro button {
  display: block;
  margin: 0 auto;

}



.question-box {
    display: none;
}

.completed-quiz {
    display: none;
}

#question {
    color: var(--primary);
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
  }

.highscores-screen {
    display: none;
    
}

.question-feedback  {
    display: none;
}

.show {
    display: flex;
}

.hide {
    display: none;
}


.highscores-screen ol {
    overflow-y: scroll;
    max-height: 100px;
}

.answerbtn {
    width: 50%;
    text-align: left
    
   
}

.btn-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    margin: 20px 0;
}

.btn:hover {
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
}